In [1]:
import numpy as np
import pandas as pd
import NelsonSiegelFunctions as nsf

import pylab
import matplotlib.pyplot as plt
from scipy.optimize import fmin, minimize
from scipy.stats import skew, kurtosis

In [2]:
df = pd.read_csv("2016 2018 BPAM Yield Matrix.csv", index_col = 0)
df.index = pd.to_datetime(df.index)
df.columns = pd.to_numeric(df.columns.values)
df.head()

,3,6,12,24,36,60,84,120,180,240,300,360
Date,,,,,,,,,,,,
2016-01-04,2.475,2.509,2.587,2.913,3.280,3.532,4.222,4.262,4.754,4.834,4.997,5.198
2016-01-05,2.469,2.503,2.580,2.916,3.295,3.512,4.180,4.275,4.765,4.846,5.010,5.214
2016-01-06,2.482,2.516,2.594,2.945,3.340,3.577,4.192,4.299,4.753,4.797,4.914,5.061
2016-01-07,2.543,2.577,2.656,2.986,3.357,3.592,4.189,4.304,4.758,4.801,4.919,5.068
2016-01-08,2.601,2.636,2.715,2.998,3.314,3.572,4.185,4.298,4.770,4.832,4.973,5.149

In [3]:
 df= df[df.index > np.datetime64("2017-10-01")]

In [4]:
df_params = nsf.getNSSParams(df)
pred = nsf.getPred(df, df_params)
df_error = df - pred

In [5]:
df_params.head()

,2017-10-02 00:00:00,2017-10-03 00:00:00,2017-10-04 00:00:00,2017-10-05 00:00:00,2017-10-06 00:00:00,2017-10-09 00:00:00,2017-10-10 00:00:00,2017-10-11 00:00:00,2017-10-12 00:00:00,2017-10-13 00:00:00,...,2017-12-15 00:00:00,2017-12-18 00:00:00,2017-12-19 00:00:00,2017-12-20 00:00:00,2017-12-21 00:00:00,2017-12-22 00:00:00,2017-12-26 00:00:00,2017-12-27 00:00:00,2017-12-28 00:00:00,2017-12-29 00:00:00
0,7.148581,7.089953,7.101287,7.039482,7.052682,7.122430,7.117437,7.020793,6.935377,6.931644,...,7.276574,7.366683,7.656768,7.634551,7.193514,7.191372,7.189394,7.208871,7.317114,7.084968
1,-4.370299,-4.289502,-4.263571,-4.202522,-4.206914,-4.285007,-4.270740,-4.178801,-4.109286,-4.105678,...,-4.669760,-4.728353,-5.005281,-4.981035,-4.545235,-4.541617,-4.535681,-4.562398,-4.692732,-4.458074
2,-8.778866,-8.732487,-8.478648,-8.067972,-8.138319,-8.216951,-8.215839,-8.110422,-8.150555,-8.142389,...,-14.645121,-15.722932,-17.255416,-16.830108,-14.453665,-14.463317,-14.599857,-14.664656,-14.390119,-13.120869
3,5.918130,5.831527,5.524989,5.342690,5.362705,5.450854,5.417828,5.316697,5.345581,5.339820,...,12.161798,13.161678,14.275984,13.779342,11.599887,11.610926,11.721533,11.795390,11.554179,10.464491
4,76.206212,73.228280,77.220764,80.665232,80.495751,83.752265,83.280644,77.437137,72.863212,72.748368,...,81.955496,85.023379,89.201306,87.355166,70.160760,70.147682,70.220092,71.518563,76.087369,73.092729

In [6]:
df_error.head()

,3,6,12,24,36,60,84,120,180,240,300,360
Date,,,,,,,,,,,,
2017-10-02,0.021605,0.002193,-0.004595,-0.037539,-0.033874,0.048538,0.087442,-0.113311,-0.000596,0.063859,-0.037280,0.003563
2017-10-03,0.022737,0.001064,-0.006137,-0.038635,-0.029868,0.052498,0.079634,-0.112712,0.001932,0.064131,-0.037945,0.003298
2017-10-04,0.016255,0.001537,0.006072,-0.033863,-0.047050,0.050595,0.091894,-0.113614,-0.002966,0.064241,-0.036193,0.003094
2017-10-05,0.017919,0.002979,0.006767,-0.037349,-0.052895,0.044525,0.117867,-0.127768,-0.008062,0.067740,-0.031577,-0.000147
2017-10-06,0.018107,0.003226,0.007289,-0.038803,-0.053945,0.045625,0.120826,-0.130810,-0.008437,0.068517,-0.030574,-0.001020

In [7]:
nsf.getPredYieldCurveError(df,pred)

{Timestamp('2017-10-02 00:00:00'): 0.05113029315678223,
 Timestamp('2017-10-03 00:00:00'): 0.050257273409878046,
 Timestamp('2017-10-04 00:00:00'): 0.052465574977480195,
 Timestamp('2017-10-05 00:00:00'): 0.059455199552392556,
 Timestamp('2017-10-06 00:00:00'): 0.06075945265370825,
 Timestamp('2017-10-09 00:00:00'): 0.06313115895444507,
 Timestamp('2017-10-10 00:00:00'): 0.06370375586821972,
 Timestamp('2017-10-11 00:00:00'): 0.06179090225971286,
 Timestamp('2017-10-12 00:00:00'): 0.061026526443309935,
 Timestamp('2017-10-13 00:00:00'): 0.060936688999046175,
 Timestamp('2017-10-16 00:00:00'): 0.05949299549207794,
 Timestamp('2017-10-17 00:00:00'): 0.06126070705891259,
 Timestamp('2017-10-19 00:00:00'): 0.059276407643345616,
 Timestamp('2017-10-20 00:00:00'): 0.06058605026400634,
 Timestamp('2017-10-23 00:00:00'): 0.06159561318633538,
 Timestamp('2017-10-24 00:00:00'): 0.06211880288931832,
 Timestamp('2017-10-25 00:00:00'): 0.06655033652211799,
 Timestamp('2017-10-26 00:00:00'): 0.06212867383440331,
 Timestamp('2017-10-27 00:00:00'): 0.06371094354617554,
 Timestamp('2017-10-30 00:00:00'): 0.060589863982511274,
 Timestamp('2017-10-31 00:00:00'): 0.07855104935443598,
 Timestamp('2017-11-01 00:00:00'): 0.07153335309173245,
 Timestamp('2017-11-02 00:00:00'): 0.06316381874126355,
 Timestamp('2017-11-03 00:00:00'): 0.06880192742628977,
 Timestamp('2017-11-06 00:00:00'): 0.06875124392867821,
 Timestamp('2017-11-07 00:00:00'): 0.06885957528545884,
 Timestamp('2017-11-08 00:00:00'): 0.07288939292636727,
 Timestamp('2017-11-09 00:00:00'): 0.07311182611854114,
 Timestamp('2017-11-10 00:00:00'): 0.08327759737370323,
 Timestamp('2017-11-13 00:00:00'): 0.07319171247975854,
 Timestamp('2017-11-14 00:00:00'): 0.09134084063609703,
 Timestamp('2017-11-15 00:00:00'): 0.09182868445731136,
 Timestamp('2017-11-16 00:00:00'): 0.09821273520962534,
 Timestamp('2017-11-17 00:00:00'): 0.09857568754349592,
 Timestamp('2017-11-20 00:00:00'): 0.09759282907600944,
 Timestamp('2017-11-21 00:00:00'): 0.08719396248947264,
 Timestamp('2017-11-22 00:00:00'): 0.07668299175063556,
 Timestamp('2017-11-23 00:00:00'): 0.06619458659276894,
 Timestamp('2017-11-24 00:00:00'): 0.06789710166923275,
 Timestamp('2017-11-27 00:00:00'): 0.07121367623286637,
 Timestamp('2017-11-28 00:00:00'): 0.08222394924043389,
 Timestamp('2017-11-29 00:00:00'): 0.07300349244417402,
 Timestamp('2017-11-30 00:00:00'): 0.08318181716126159,
 Timestamp('2017-12-04 00:00:00'): 0.08603436722163049,
 Timestamp('2017-12-05 00:00:00'): 0.0804028215557215,
 Timestamp('2017-12-06 00:00:00'): 0.06324327859057499,
 Timestamp('2017-12-07 00:00:00'): 0.06022930721390699,
 Timestamp('2017-12-08 00:00:00'): 0.06013584338079324,
 Timestamp('2017-12-11 00:00:00'): 0.05452975474650696,
 Timestamp('2017-12-12 00:00:00'): 0.0605771735118777,
 Timestamp('2017-12-13 00:00:00'): 0.0593297293827573,
 Timestamp('2017-12-14 00:00:00'): 0.05475830290555691,
 Timestamp('2017-12-15 00:00:00'): 0.05613417034690995,
 Timestamp('2017-12-18 00:00:00'): 0.0582492914510359,
 Timestamp('2017-12-19 00:00:00'): 0.06415340082608306,
 Timestamp('2017-12-20 00:00:00'): 0.06609498949526574,
 Timestamp('2017-12-21 00:00:00'): 0.05925811648090302,
 Timestamp('2017-12-22 00:00:00'): 0.05897854229820797,
 Timestamp('2017-12-26 00:00:00'): 0.06128423768519493,
 Timestamp('2017-12-27 00:00:00'): 0.061828398624055626,
 Timestamp('2017-12-28 00:00:00'): 0.0664756567154001,
 Timestamp('2017-12-29 00:00:00'): 0.06108650264656089}

In [8]:
nsf.getPredMatError(df,pred)

{3: 0.03640681881354782,
 6: 0.0036085138635606052,
 12: 0.03360469503209925,
 24: 0.04905169178647377,
 36: 0.03983591386134659,
 60: 0.07696346015984372,
 84: 0.08940640925730342,
 120: 0.1640884599959528,
 180: 0.07353669168817747,
 240: 0.04832744235290926,
 300: 0.04022106322907548,
 360: 0.009564773630201775}